pyrogram==2.0.106
tgcrypto==1.2.1
Flask==2.3.2
requests==2.31.0
pillow==10.0.0
yt-dlp==2023.12.27
spotipy==2.23.0
moviepy==1.0.3
aiofiles==23.2.1
aiohttp==3.9.3
youtube-search-python==1.6.7
pymongo==4.7.2
